nav.navbar.navbar-default.no-margin
  div.navbar-header.fixed-brand
    button#menu-toggle.navbar-toggle.collapsed(type="button", data-toggle="collapse")
      span.fa.fa-th-large(aria-hidden="true")
    a.navbar-brand(href="/")= title
  div#bs-example-navbar-collapse-1.collapse.navbar-collapse
    ul.nav.navbar-nav
      li.active
        button#menu-toggle-2.navbar-toggle.collapse.in(data-toggle="collapse")
          span.fa.fa-th-large(aria-hidden="true")
