p(ng-message="required")
  |  Obligatorio.
p(ng-message="minlength")
  |  Demasiado corto.
p(ng-message="maxlength")
  |  Demasiado largo.
p(ng-message="email")
  |  Email no válido.
p(ng-message="pattern")
  |  Número no válido.
p(ng-message="password")
  |  No coinciden.
