p(ng-message="required")
  |  {{msgRequired}}.
p(ng-message="minlength")
  |  {{msgTooShort}}.
p(ng-message="maxlength")
  |  {{msgTooLarge}}.
p(ng-message="email")
  |  {{msgInvalidEmail}}.
p(ng-message="pattern")
  |  {{msgInvalidNumber}}.
p(ng-message="password")
  |  {{msgDoNotMatch}}.
