footer

script(src="/jquery/dist/jquery.min.js")
script(src="/bootstrap/dist/js/bootstrap.min.js")
script(src="/less/dist/less.min.js")

// ===
// This block is for adding Google Analytics Support to the system.
// Just uncomment and replace YOUR-ANALYTICS-CODE with your Google Analytics code.
// Uncomment from here ==>
//script.
//  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
//  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
//  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
//  e.src="//www.google-analytics.com/analytics.js";
//  r.parentNode.insertBefore(e,r)}(window,document,"script","ga"));
//  ga("create","YOUR-ANALYTICS-CODE","auto");ga("send","pageview");
// <== to here.